.habits-container{
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 0px;
    flex: 10;
    margin: 0;
}

.habit-manager{
    display: flex;
    flex-direction: column;
    position: relative;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    width: 600px;
    height: 90%;
    padding: 40px;
    gap: 10px;
}

.button{
    padding: 0;
}

.error{
    width: 100%;
    height: 100%;
}

@media (10px <= width <= 853px){
    .habit-manager-container{
        padding: 0;
    }
    .habit-manager{
        width: 100%;
        height: auto;
        padding: 30px;
        box-shadow: none;
    }
    .add-habit-button{
        padding: 10px;
    }
    .manage-habits{
        align-items: center;
    }
}

