.manage-tasks{
    display: flex;
    flex: 1;
}

.tasks-title{
    flex: 30%;
    margin: 0;
}

.add-task-button{
    flex: 10%;
    margin: 0;
    font-size: 20px;
    font-family: "Chivo", sans-serif;
}

.add-task-button:hover{
    background-color: #5d5d5d;
    cursor: pointer;
}

.add-task-button:active{
    background-color: #4f4f4f;
}
.add-task-button span {
    color: white
}

@media (10px <= width <= 853px){
    .add-task-text {
        display: none;
    }
    .tasks-title{
        flex: 8;
    }
    .add-task-button{
        flex: 1;
    }
}


