.habits{
    background-color: #dcdcdc;
    border-radius: 0.375rem;
    padding: 10px;
    display: flex;
    height: 100%;
    list-style: none;
    align-items: center;
    height: 3.375em;
}

.edit-button, .delete-button{
    border: none;
    flex: 1;
    background: none;
}

.manage-habits-buttons{
    flex: 10%;
    display: flex;
}

.icon{
    cursor: pointer;
    height: 20px;
    width: 20px;
}

.habit-info-container{
    flex: 90%;
}

.habit-checkbox{
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
}

.habit-info-container div p{
    margin: 0;
}

.hour{
    font-size: 12px;
}

.habit-name{
    font-size: 20px;
}

.habit-details{
    flex: 95%;
}

.check:has(> .checkbox:checked) ~ .habit-details {
    text-decoration: line-through;
}

@media (10px <= width <= 853px){
    .habits{
        height: 100%;
        width: 100%;
    }
}